<!doctype html>
<html>
<head>
    <title>Database and UI Interactions</title>
    <link href="/views/style.css" type="text/css" rel="stylesheet" />
    <script src"/views/script.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>