<!doctype html>
<html>
<head>
    <title>Database and UI Interactions</title>
    <style>
        <link href="./style.css" type="text/css" rel="stylesheet" />
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>