<!doctype html>
<html>
<head>
    <title>Database and UI Interactions</title>
    <link href="/public/stylesheets/style.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/public/javascripts/script.js" ></script>
</head>
<body>
    {{{body}}}
</body>
</html>