<!doctype html>
<html>
<head>
    <title>Database and UI Interactions</title>
    <link href="/public/stylesheets/style.css" type="text/css" rel="stylesheet" />
    <script src="/public/javascripts/script.js" ></script>
</head>
<body>
    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.amd.js"></script>
</body>
</html>