<!doctype html>
<html>
<head>
    <title>Database and UI Interactions</title>
    <link href="/views/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    {{{body}}}
    <script type="text/javascript" src"/views/script.js"></script>
</body>
</html>