<!doctype html>
<html>
<head>
    <title>Database and UI Interactions</title>
    <link href="/public/css/style.css" type="text/css" rel="stylesheet" />
    <script>
        function logYourself() {
          console.log("LOADED");
        };
        window.onload = logYourself;
    </script>
</head>
<body>
    {{{body}}}
</body>
</html>