<!doctype html>
<html>
<head>
    <title>Database and UI Interactions</title>
    <link href="http://52.36.84.159:3000/views/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    {{{body}}}
</body>
</html>