<!doctype html>
<html>
<head>
    <title>Database and UI Interactions</title>
    <link href="/public/css/style.css" type="text/css" rel="stylesheet" />
    <script></script>
</head>
<body>
    {{{body}}}
</body>
</html>