table {
  border-collapse: collapse;
}
th, td {
  border: solid black 1px;
  padding: 5px;
}
th {
  text-align: left;
}
#table_name {
  text-align: center;
}
.warning {
  color: red;
  font-weight: bold;
}